td, th{
  padding: 7.2px 30px;
  border-bottom: 1px solid darkgrey;
  text-align: left;
}

th{
  padding: 10px 30px;
}

table{
  margin-left: 20%;
  background-color: #F1F7ED;
  padding: 5px;
  border-collapse: collapse;
}

body{
  background-color: #BDCACC;
}

.title{
  margin-top: 1.5%;
  margin-bottom: 1.5%;
  text-align: center;
  font-family: Georgia, serif;
  font-size: 23px;
  color: black;
  font-weight: bold;
  word-spacing: 0.2em;
}

tr:hover{
  background-color: #BDCACC;
}

.dot:hover{
  cursor: pointer;
}

.xAxis, .yAxis{
  font-size: 16px;
  font-style: italic;
  font-weight: bold;
  word-spacing: 0.1em;
}

.verticalLine{
  stroke-dasharray: 5 5;
}
